*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Adding font selected to body */
body {
    font-family: 'Quicksand', sans-serif;
}
header {
    color: white;
    padding-top: 10px;
    background-color: black;
    height: 50px;
}
/* Making container1 a flexbox */
.container1 {
    display: flex;
    flex-direction: row;
}
/* Customizing intro1 flexbox to make it aesthetic */
.intro1 {
    background-color: white;
    color: black;
    /* Making intro1 flexbox thinner than intro2 */
    flex: 1;
}
/* Customizing intro2 flexbox to make it aesthetic */
.intro2 {
    background-color: black;
    color: white;
    flex: 3;
    height: 400px;
}
.intro2text {
    padding-left: 100px;
    padding-top: 100px;
    font-size: xx-large;
}
.intro1text {
    padding-top: 25px;
    padding-left: 8px;
    text-align: center;
}
.introimage {
    margin-left: 78px;
    margin-top: 50px;
    width: 170px;
    height: 170px;
}