*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*#################################################*/
/* Index Page */
/*#################################################*/
/* css code for header & body */
body {
    font-family: 'Montserrat', sans-serif;
}
header {
    color: white;
    padding-top: 10px;
    background-color: black;
    height: 50px;
}
/*#################################################*/
/*#################################################*/
/*Container 1 CSS */
.container1 {
    display: flex;
    flex-direction: row;
    height: 500px;
}
/*#################################################*/
/* Customizing intro1 flexbox to make it aesthetic */
.intro1 {
    background-color: white;
    color: black;
    flex: 1;
}
.intro1text {
    padding-top: 55px;
    text-align: center;
}
.introimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 170px;
    height: 170px;
}
/*#################################################*/
/* Customizing intro2 flexbox to make it aesthetic */
.intro2 {
    background-color: black;
    color: white;
    flex: 3;
}
.intro2text {
    padding-left: 100px;
    padding-top: 300px;
    font-size: xx-large;
}
/*#################################################*/
/*#################################################*/
/* Container 2 CSS */
.container2 {
    display: flex;
    flex-direction: column;
}
/*#################################################*/
/* About Flexbox */
.aboutindex {
    background-color: black;
    color: white;
    height: 500px;
}
.about2 {
    padding-right: 150px;
    padding-left: 150px;
    padding-top: 50px;
    font-weight: bold;
    font-size: 40px;
}
.bgd {
    padding-right: 150px;
    padding-left: 150px;
    padding-top: 7px;
    font-size: 20px;
}
.abouttext {
    padding-right: 200px;
    padding-left: 200px;
    padding-top: 35px;
    font-size: 30px;
    font-weight: lighter;
    text-align: center;
}
.aboutbuttonouter {
    padding-top: 50px;
    text-align: center;

}
.aboutbutton {
    text-decoration: none;
    color: black;
    background-color: white;
    font-weight: bolder;
    padding: 10px 20px;
    border: 3px solid white;
}
/*#################################################*/
/* Education Flexbox */
.education {
    height: 500px;
    background-color: white;
    color: black;
}
.edu {
    padding-right: 150px;
    padding-left: 150px;
    padding-top: 40px;
    font-weight: bold;
    font-size: 40px;
}
.whr {
    padding-right: 150px;
    padding-left: 150px;
    padding-top: 7px;
    padding-bottom: 10px;
    font-size: 20px;
}
/*#################################################*/
.saps {
    width: 100px;
    height: 100px;
    float: left;
    padding-left: 150px;
    padding-right: 100px;
    padding-top: 7px;
}
.edutext {
    padding-top: 20px;
}
/*#################################################*/
.bbss {
    width: 100px;
    height: 100px;
    float: left;
    padding-left: 0px;
    padding-right: 100px;
    padding-top: 40px;
}
.edutext2 {
    padding-top: 60px;
}
/*#################################################*/
.np {
    width: 100px;
    height: 100px;
    float: left;
    padding-left: 350px;
    padding-right: 100px;
    padding-top: 40px;
}
.edutext3 {
    padding-top: 60px;
}
/*#################################################*/
/* Work Experience */
.exp {
    height: 250px;
    background-color: white;
    color: black;
}

.work {
    padding-right: 150px;
    padding-left: 150px;
    padding-top: 40px;
    font-weight: bold;
    font-size: 40px;
}
.whr2 {
    padding-right: 150px;
    padding-left: 150px;
    padding-top: 7px;
    padding-bottom: 10px;
    font-size: 20px;
}
/*#################################################*/
.ntuc {
    width: 100px;
    height: 100px;
    float: left;
    padding-left: 150px;
    padding-right: 100px;
    padding-top: 7px;
}
.exptext {
    padding-top: 30px;
}
/*#################################################*/
/* Skill & Laguages Flexbox */
.skillbox {
    background-color: black;
    color: white;
    height: 500px;
}
.sl {
    padding-right: 150px;
    padding-left: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: bold;
    font-size: 40px;
}
.skilltxt {
    padding-right: 150px;
    padding-left: 150px;
    padding-top: 7px;
    font-size: 27px;
}
.langtxt {
    padding-right: 150px;
    padding-left: 150px;
    padding-top: 27px;
    font-size: 27px;
}
/*#################################################*/
/* Projects Flexbox */
.projects {
    height: 400px;
    background-color: white;
    color: black;
}
.projecthead {
    padding-right: 150px;
    padding-left: 150px;
    padding-top: 40px;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 40px;
}
.protxt {
    margin-bottom: 10px;
    padding-right: 150px;
    padding-left: 150px;
    padding-top: 7px;
    font-size: 27px;
}


/*#################################################*/
/* About Page */
/*#################################################*/
.container3 {
    display: flex;
    flex-direction: column;
    height: 500px;
    background-color: white;
    color: black;
}
/*#################################################*/
.about {
    padding-right: 150px;
    padding-left: 150px;
    padding-top: 50px;
    font-weight: bolder;
    font-size: 40px;
}
.aboutpagetext {
    padding-right: 200px;
    padding-left: 200px;
    padding-top: 35px;
    font-size: 23px;
    text-align: center;
}
.abouttohomeouter {
    padding-top: 50px;
    text-align: center;

}
.abouttohome {
    text-decoration: none;
    color: white;
    background-color:black;
    font-weight: bolder;
    padding: 15px 20px;
    border: 3px solid black;
}