*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*#################################################*/
/* Index Page */
/*#################################################*/
/* css code for header & body */
body {
    font-family: 'Montserrat', sans-serif;
}
header {
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: black;
    height: 2%;
    font-weight: bolder;
    font-family: 'Courgette', cursive;

}
.bhighlight {
    background-color: black;
    color: white;
}
.whighlight {
    background-color:white;
    color:black;
}
.container1 {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.intro1 {
    background-color: white;
    color: black;
    flex: 1;
}
.intro1text {
    padding-top: 55px;
    text-align: center;
    line-height: 2;
    font-weight: bold;
}
.introimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    width: 170px;
    height: 170px;
    border: 5px solid black;
}
/*#################################################*/
/* Customizing intro2 flexbox to make it aesthetic */
.intro2 {
    background-color: black;
    color: white;
    flex: 3;
}
.intro2text {
    padding-left: 100px;
    padding-top: 300px;
    padding-bottom: 8%;
    font-size: xx-large;
    font-family: 'Exo', sans-serif;
}
/* Container 2 CSS */
.container2 {
    display: flex;
    flex-direction: column;
}
/*#################################################*/
/* About Flexbox */
.aboutindex {
    background-color: black;
    color: white;
    height: 400%;
}
.about2 {
    font-family: 'Amatic SC', cursive;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    font-weight: bold;
    font-size: 45px;
}
.bgd {
    font-family: 'Exo', sans-serif;
    padding-right: 10%;
    padding-left: 10%;
    font-size: 20px;
}
.abouttext {
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 2%;
    font-size: 30px;
    font-weight: lighter;
    text-align: center;
}
.aboutbuttonouter {
    padding-top: 50px;
    text-align: center;
    padding-bottom: 4%;
}
.aboutbutton {
    text-decoration: none;
    color: black;
    background-color: white;
    font-weight: bolder;
    padding: 10px 20px;
    border: 3px solid white;
}
/*#################################################*/
/* Education Flexbox */
.education {
    background-color: white;
    color: black;
}
.edu {
    font-family: 'Amatic SC', cursive;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 3%;
    font-weight: bold;
    font-size: 40px;
}
.whr {
    font-family: 'Exo', sans-serif;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 1%;
    padding-bottom: 2%;
    font-size: 20px;
}
/*#################################################*/
.saps {
    float: left;
    padding-left: 9%;
    padding-right: 1%;
}
.edutext {
    padding-top: 1%;
    padding-bottom: 7%;
}
/*#################################################*/
.bbss {
    float: left;
    padding-left: 9%;
    padding-right: 1%;
}
.edutext2 {
    padding-top: 1%;
    padding-bottom: 7%;
}
/*#################################################*/
.np {
    float: left;
    padding-left: 9%;
    padding-right: 1%;
}
.edutext3 {
    padding-top: 1%;
    padding-bottom: 7%;
}
/*#################################################*/
/* Work Experience */
.exp {
    background-color: white;
    color: black;
}
.work {
    font-family: 'Amatic SC', cursive;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 2%;
    font-weight: bold;
    font-size: 40px;
}
.whr2 {
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 2%;
    font-size: 20px;
}
/*#################################################*/
.ntuc {
    float: left;
    padding-left: 9%;
    padding-right: 1%;
    padding-bottom: 10%;
}
.exptext {
    padding-top: 2%;
    padding-bottom: 7%;
}
/*#################################################*/
/* Skill & Laguages Flexbox */
.skillbox {
    background-color: black;
    color: white;
    margin-top: 5%;
}
.sl {
    font-family: 'Amatic SC', cursive;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 5%;
    font-weight: bold;
    font-size: 40px;
}
.skilltxt {
    font-family: 'Exo', sans-serif;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 3%;
    font-size: 27px;
}
.langtxt {
    font-family: 'Exo', sans-serif;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 2%;
    font-size: 27px;
    padding-bottom: 5%;
}
/*#################################################*/
/* Projects Flexbox */
.projects {
    background-color: white;
    color: black;
}
.projecthead {
    font-family: 'Amatic SC', cursive;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: bold;
    font-size: 40px;
}
.protxt {
    margin-bottom: 2%;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 2%;
    font-size: 27px;
}
.projectbuttonouter {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;

}
.projectbutton {
    text-decoration: none;
    color:white;
    background-color: black;
    font-weight: bolder;
    padding: 10px 20px;
    border: 3px solid black;
}
/*#################################################*/
/* Contact Flexbox */
.contact {
    background-color: black;
    color: white;
    margin-top: 5%;
}
.contacthead {
    font-family: 'Amatic SC', cursive;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 5%;
    font-weight: bold;
    font-size: 40px;
}
.contactinfo {
    font-family: 'Exo', sans-serif;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 3%;
    padding-bottom: 6%;
    font-size: 27px;
}
/*#################################################*/
/* About Page */
/*#################################################*/
.container3 {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
}
/*#################################################*/
.about {
    font-family: 'Amatic SC', cursive;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 2%;
    font-weight: bolder;
    font-size: 40px;
}
.aboutpagetext {
    font-family: 'Exo', sans-serif;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 3%;
    font-size: 23px;
    text-align: center;
}
.abouttohomeouter {
    padding-top: 50px;
    text-align: center;
    padding-bottom: 50px;

}
.abouttohome {
    text-decoration: none;
    color: white;
    background-color:black;
    font-weight: bolder;
    padding: 15px 20px;
    border: 3px solid black;
}
/*#################################################*/
/* Project Page */
/*#################################################*/
.container4 {
    display: flex;
    flex-direction: column;
    background-color:white;
    color: black;
}
/*#################################################*/
.projecttitle {
    font-family: 'Amatic SC', cursive;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 2%;
    font-weight: bolder;
    font-size: 40px;
    padding-bottom: 4%;
}
/*#################################################*/
.tttitle {
    font-family: 'Exo', sans-serif;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 2%;
    font-weight: bold;
    font-size: 35px;
}
.ttcontent {
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 2%;
    font-size: 23px;
    text-align: center;
}
.ttlink {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
    padding-left: 550px;
}
/*#################################################*/
.ikeatitle {
    font-family: 'Exo', sans-serif;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 2%;
    font-weight: bold;
    font-size: 35px;
}
.ikeacontent {
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 2%;
    font-size: 23px;
    text-align: center;
}
.ikealink {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
    padding-left: 550px;
}
/*#################################################*/
.obsctitle {
    font-family: 'Exo', sans-serif;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 2%;
    font-weight: bold;
    font-size: 35px;
}
.obsccontent {
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 2%;
    font-size: 23px;
    text-align: center;
}
.obsclink {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
    padding-left: 550px;
}
/*#################################################*/
.projecttohomeouter {
    padding-top: 50px;
    text-align: center;
    padding-bottom: 50px;

}
.projecttohome {
    text-decoration: none;
    color: white;
    background-color:black;
    font-weight: bolder;
    padding: 15px 20px;
    border: 3px solid black;
}
@media only screen and (min-width: 1024px) {
    .ttlink2 {
        display: none;
    }
    .ikealink2 {
        display: none;
    }
    .obsclink2 {
        display: none;
    }
}
@media only screen and (max-width: 1024px) {
    .introimage {
        display: none;
    }
    .intro1 {
        padding-bottom: 40px;
    }
    .intro2 {
        display: none;
    }
    .about {
        text-align: center;
    }
    .abouttext {
        font-size: 20px;
    }
    .aboutbuttonouter {
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .exptext {
        margin-bottom: 15%;
    }
    .projecttitle {
        text-align: center;
    }
    .tttitle {
        text-align: center;
    }
    .ikeatitle {
        text-align: center;
    }
    .obsctitle {
        text-align: center;
    }
    .ttlink {
        display: none;
    }
    .ikealink {
        display: none;
    }
    .obsclink {
        display: none;
    }
    .ttlink2 {
        margin-top: 3%;
        text-align: center;
        text-align: center;
        text-decoration: none;
        color: black;
        background-color: white;
        font-weight: bolder;
        padding: 15px 20px;
        border: 3px solid black;
    }
    .ikealink2 {
        margin-top: 3%;
        text-align: center;
        text-align: center;
        text-decoration: none;
        color: black;
        background-color: white;
        font-weight: bolder;
        padding: 15px 20px;
        border: 3px solid black;
    }
    .obsclink2 {
        margin-top: 3%;
        text-align: center;
        text-align: center;
        text-decoration: none;
        color: black;
        background-color: white;
        font-weight: bolder;
        padding: 15px 20px;
        border: 3px solid black;
        margin-bottom: 5%;
    }

}